
@{
    Layout = null;
}
@using ViewNews.Models
@{
    Editor editor= ViewBag.eidtss;
    List<News> news = ViewBag.news;
    List <WriterCommun> writer = ViewBag.write;
}
<!DOCTYPE html>


@*还未完成*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>操作记录</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <input type="button" name=”Submit” onclick="javascript:history.back(-1);" class="btn btn-success fanhui" value="返回">
        <h2>@editor.EditorName 的操作记录</h2>
        <table class="table table-hover">
            <tr>
                <th>时事新闻</th>
                <th>专家评议</th>
            </tr>
            <tr>

                <td>
                    @if (news == null)
                    {
                        @:暂无记录
                    }
                    else
                    {
                        foreach (var item in news)
                        {
                            <a href="/NewsVNGL/NewsXiangXi/?NewsID=@item.NewsID">@editor.EditorName 于 @item.NewsTime 发布了 @item.NewsTitle</a>
                            <br />
                        }
                    }

                </td>
                <td>
                    @if (writer == null)
                    {
                        @:暂无记录
                    }
                    else
                    {
                        foreach (var item in writer)
                        {
                            <a href="/WriterVNGL/WriterXiangXi/?WriterID=@item.WriterCommunID">@editor.EditorName 于 @item.WCTime 发布了 @item.WCTitle</a>
                            <br />
                        }
                    }
                </td>
            </tr>

        </table>
    </div>
</body>
</html>
