<!DOCTYPE html>
@using ViewNews.Models
@{
    NewsUser user = Session["userLogin"] as NewsUser;
    List<News> renews = ViewBag.renews as List<News>;
    List<News> Allnews = ViewBag.Allnews as List<News>;
    int a = 0;
    int aa = 0;
    List<WriterCommun> rewritercomm = ViewBag.rewritercommun as List<WriterCommun>;
    List<WriterCommun> Allwritercommun = ViewBag.Allwritercommun as List<WriterCommun>;
    int b = 0;
    int bb = 0;
    List<EssayCommun> reesscomm = ViewBag.reessaycommun as List<EssayCommun>;
    List<EssayCommun> Allessaycommun = ViewBag.Allessaycommun as List<EssayCommun>;
    int c = 0;
    int cc = 0;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/HelpSSS/一个新闻模板/xinwenmoban/css/reset.css" rel="stylesheet" media="all" />
    <link href="~/HelpSSS/一个新闻模板/xinwenmoban/css/nivoslider.css" rel="stylesheet" media="all" />
    <link href="~/HelpSSS/一个新闻模板/xinwenmoban/css/prettyPhoto.css" rel="stylesheet" media="screen" />
    <link href="~/HelpSSS/一个新闻模板/xinwenmoban/style.css" rel="stylesheet" media="screen" />
    <link href="~/HelpSSS/一个新闻模板/xinwenmoban/css/responsive.css" rel="stylesheet" media="all" />

    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/jquery-1.7.1.min.js"></script>
    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/jquery.nivo.slider.pack.js"></script>
    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/jquery.carouFredSel-5.6.2.js"></script>
    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/jquery.prettyPhoto.js"></script>
    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/jquery.sticky.js"></script>
    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/jquery-scroller-v1.min.js"></script>
    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/kendo.web.min.js"></script>
    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/custom.js"></script>
    <style>
        .remennews {
            margin-left: 60px;
        }

        .writer_tu_image_writertu {
            background-color: white;
            width: 250px;
            height: 160px;
            overflow: hidden;
            text-align: center;
        }

            .writer_tu_image_writertu img {
                height: 240px;
                margin: 0 auto;
            }
        #yonghu {
            text-decoration: none;
        }

        #yonghutu img {
            border: 1px solid darkgrey;
        }

        #yonghutu:hover {
            color: firebrick;
        }

        .writer_tu_user {
            background-color: white;
            width: 26px;
            height: 26px;
            overflow: hidden;
            float: left;
            text-align: center;
        }

            .writer_tu_user img {
                width: 26px;
                margin: 0 auto;
            }

        #outLogin a {
            text-decoration: none;
        }
    </style>
</head>
<body class="sub-1sidebar">
    <header id="header">
        <div id="header-top">
            <div class="wrapper clearfix">
                <div id="welcome">
                    欢迎来到视野新闻网!
                </div><!--end:welcome-->
                <nav id="top-nav">
                    <ul id="top-menu" class="clearfix">
                        <li class="current-menu-item">
                            @if (Session["userLogin"] == null)
                            {
                                <a href="/LoginVNKH/LoginUser">登录/注册</a>
                            }
                            else
                            {
                                <a href="/UserVNKH/UserXiangxiKeHu/?UserID=@user.NewsUserID" id="yonghu">
                                    <div id="yonghutu">
                                        <div class="writer_tu_user">
                                            <img src="~/Content/imageKeHu/User/@user.NewsUserImage" />
                                        </div>
                                        @user.NewsUserName
                                    </div>
                                </a>
                            }

                        </li>
                        @if (Session["userLogin"] == null)
                        {

                        }
                        else
                        {
                            <li class="current-menu-item" id="outLogin">
                                <a href="/LoginVNKH/OutLogin">
                                    <div id="yonghutu">
                                        注销
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </nav><!--end:top-nav-->
            </div><!--wrapper-->
        </div><!--header-top-->
        <div id="header-middle">
            <div class="wrapper clearfix">
                <div id="logo-image">
                    <a href="/NewsVNKH/Index">
                        <img src="~/Content/imageKeHu/UI/视野新闻网logo.png" alt="logo" width="200" />
                    </a>
                </div>
            </div><!--wrapper-->
        </div><!--header-middle-->
        <div id="navigation">
            <nav id="secondary-menu" class="wrapper clearfix">
                <ul class="clearfix" id="main-nav">
                    <li><a href="/NewsVNKH/Index">时事新闻</a></li>
                    <li>
                        <a href="/WriterVNKH/Index">专家评议</a>
                        @if (Session["userLogin"] == null)
                        {
                            <ul>
                                <li><a href="/LoginVNKH/LoginUser">需要登录才可观看 点击登录</a></li>
                            </ul>
                        }
                    </li>
                    <li>
                        <a href="/UserVNKH/Index">用户社区</a>
                    </li>
                </ul><!--end:main-nav-->
            </nav><!--end:secondary-menu-->
        </div><!--navigation-->
    </header>
    <div class="wrapper">
        <div class="primary">
            @RenderBody()
        </div>
        <div class="secondary">
            <div id="sidebar-b" class="sidebar">
                <aside class="widget box-hover">
                    <header class="entry-header">
                        <h4 class="widget-title clearfix"><span>热门新闻</span></h4>
                    </header>
                    @if (renews.Count() == 0)
                    {
                        foreach (var item in Allnews)
                        {
                            if (aa < 5)
                            {
                                <article class="entry-box clearfix">
                                    <div class="entry-content">


                                        <div class="writer_tu_image_writertu">
                                            <a href="/NewsVNKH/NewsWenZhang/?Newsid=@item.NewsID"><img src="~/Content/NewsImage/@item.NewsImage" /></a>
                                        </div>
                                        <div>
                                            <h4 class="entry-title"><a href="/NewsVNKH/NewsWenZhang/?Newsid=@item.NewsID">@item.NewsTitle</a></h4>
                                        </div>
                                    </div><!--end:entry_content-->
                                </article>
                            }
                            else
                            {
                                break;
                            }
                            aa++;
                        }
                    }
                    else
                    {
                        foreach (var item in renews)
                        {
                            if (a < 5)
                            {
                                <article class="entry-box clearfix">
                                    <div class="entry-content">


                                        <div class="writer_tu_image_writertu">
                                            <a href="/NewsVNKH/NewsWenZhang/?Newsid=@item.NewsID"><img src="~/Content/NewsImage/@item.NewsImage" /></a>
                                        </div>
                                        <div>
                                            <h4 class="entry-title"><a href="/NewsVNKH/NewsWenZhang/?Newsid=@item.NewsID">@item.NewsTitle</a></h4>
                                        </div>
                                    </div><!--end:entry_content-->
                                </article>
                            }
                            else
                            {
                                break;
                            }
                            a++;
                        }
                    }
                </aside>

                <aside class="widget box-hover">
                    <header class="entry-header">
                        <h4 class="widget-title clearfix"><span>精选评议</span></h4>
                    </header>
                    @if (rewritercomm.Count() == 0)
                    {
                        foreach (var item in Allwritercommun)
                        {
                            if (bb < 5)
                            {
                                <article class="entry-box clearfix">
                                    <div class="entry-content">
                                        <div class="writer_tu_image">
                                            <a href="/WriterVNKH/WriterWenZhang/?WriterCoID=@item.WriterCommunID">
                                                <img src="~/Content/WriterImage/Commun/@item.WCImage" />
                                            </a>
                                        </div>
                                        <div class="remennews">
                                            <h4 class="entry-title">@item.Writer.WriterName :</h4>
                                            <h4 class="entry-title"><a href="/WriterVNKH/WriterWenZhang/?WriterCoID=@item.WriterCommunID">@item.WCTitle</a></h4>
                                        </div>
                                    </div><!--end:entry_content-->
                                </article>
                            }
                            else
                            {
                                break;
                            }
                            bb++;
                        }
                    }
                    else
                    {
                        foreach (var item in rewritercomm)
                        {
                            if (b < 5)
                            {
                                <article class="entry-box clearfix">
                                    <div class="entry-content">
                                        <div class="writer_tu_image">
                                            <a href="/WriterVNKH/WriterWenZhang/?WriterCoID=@item.WriterCommunID">
                                                <img src="~/Content/WriterImage/Commun/@item.WCImage" />
                                            </a>
                                        </div>
                                        <div class="remennews">
                                            <h4 class="entry-title">@item.Writer.WriterName :</h4>
                                            <h4 class="entry-title"><a href="/WriterVNKH/WriterWenZhang/?WriterCoID=@item.WriterCommunID">@item.WCTitle</a></h4>
                                        </div>
                                    </div><!--end:entry_content-->
                                </article>
                            }
                            else
                            {
                                break;
                            }
                            b++;
                        }
                    }
                </aside>
                <aside class="widget box-hover">
                    <header class="entry-header">
                        <h4 class="widget-title clearfix"><span>社区热议</span></h4>
                    </header>
                    @if (reesscomm.Count() == 0)
                    {
                        foreach (var item in Allessaycommun)
                        {
                            if (cc < 5)
                            {
                                <article class="entry-box clearfix">
                                    <div class="entry-content">
                                        <span class="entry-meta">来自:&nbsp;</span><a class="entry-date" href="/UserVNKH/UserXiangxiKeHu/?UserID=@item.NewsUserID">@item.NewsUser.NewsUserName</a>
                                        <h4 class="entry-title"><a href="/UserVNKH/UserWenZhang/?ECid=@item.EssayCommunID">@item.ECTitle</a></h4>
                                    </div><!--end:entry_content-->
                                </article>
                            }
                            else
                            {
                                break;
                            }
                            cc++;
                        }
                    }
                    else
                    {
                        foreach (var item in reesscomm)
                        {
                            if (c < 5)
                            {
                                <article class="entry-box clearfix">
                                    <div class="entry-content">
                                        <span class="entry-meta">来自:&nbsp;</span><a class="entry-date" href="/UserVNKH/UserXiangxiKeHu/?UserID=@item.NewsUserID">@item.NewsUser.NewsUserName</a>
                                        <h4 class="entry-title"><a href="/UserVNKH/UserWenZhang/?ECid=@item.EssayCommunID">@item.ECTitle</a></h4>
                                    </div><!--end:entry_content-->
                                </article>
                            }
                            else
                            {
                                break;
                            }
                            c++;
                        }
                    }


                </aside>
                <div class="clear"></div>
            </div><!--end:sidebar-->
            <div class="clear"></div>
        </div>

        <footer>
            <div class="wrapper clearfix">
                <p id="copyrights">Copyright © 2012 视野新闻网，源于1999</p>   <a id="scroll-to-top" href="#top">返回顶部</a>
            </div><!--end:wrapper-->
        </footer>
    </div>
</body>
</html>
