
@{
    Layout = null;
}
@using ViewNews.Models
@{
    Writer wri = ViewBag.writerzuojia;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>专家修改</title>
    @Styles.Render("~/Content/css")
    <style>
        .news {
            margin: 1em;
        }

        .juli {
            margin-top: 2em;
            margin-left: 2em;
        }

        label {
            font-size: 20px;
        }

        .writer_tu_image {
            background-color: #FF0000;
            width: 45px;
            height: 50px;
            overflow: hidden;
        }

            .writer_tu_image img {
                height: 50px;
                margin: 0 calc(50% - 30px);
            }
    </style>
</head>
<body>
    <div>
        <input type="button" name=”Submit” onclick="javascript:history.back(-1);" class="btn btn-success fanhui" value="返回">
        <div class="news">
            <h2>专家添加</h2>
            <div class="juli">
                <form action="/WriterVNGL/WriterZuoJiaEdits" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="WriterName">作家名字</label>
                        <input type="text" class="form-control" name="WriterName" id="WriterName" value="@wri.WriterName">
                    </div>

                    <div class="form-group">
                        <label for="WriterImage">作家头像</label>

                        <input type="hidden" name="WriterImage" id="WriterImage" value="@wri.WriterImage">
                        
                        <input type="file" name="EWriterImage" id="EWriterImage">
                    </div>
                    <div class="writer_tu_image">
                        <img src="~/Content/WriterImage/Men/@wri.WriterImage" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="WriterPosition">作家职称</label>
                        <input type="text" class="form-control" name="WriterPosition" id="WriterPosition" value="@wri.WriterPosition">
                    </div>
                    <input type="hidden" name="WriterID" id="WriterID" value="@wri.WriterID">
                    <button type="submit" class="btn btn-default">修改</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
