
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutVNKH.cshtml";
    @Styles.Render("~/Content/css")
    <style type="text/css">
        .daxiao {
            width: 1090px;
        }

        #xian {
            border-top: 1px solid darkgray;
        }
    </style>
}
@using ViewNews.Models
@{
    List<EssayCommun> esscomm = ViewBag.userEss;
}
<div class="sub-search-box clearfix">
    <form action="/UserVNKH/Index" class="search-form" method="post">
        <input type="text" placeholder="请输入搜索的标题" name="Title" id="Title" class="search-text"  value="@ViewBag.name"/>
        <input type="submit" value="" name="submit" class="search-submit" />
    </form>
</div>
<div class="daxiao">
    <h2>用户社区</h2>
    <div id="xian"></div>
    
        @*<a href="#"><img class="hover-effect responsive-img" src="placeholders/244x117/244x117-8.jpg" alt="" /></a>*@
        @foreach (var item in esscomm)
        {
        <article class="entry-item box-hover clearfix">
            <div class="entry-content">
                <span class="entry-category">发表人:&nbsp;</span>
                <a class="entry-category" href="/UserVNKH/UserMen/?Userid=@item.NewsUserID">@item.NewsUser.NewsUserName</a><span class="entry-date">&nbsp;&nbsp;|&nbsp;&nbsp;@item.ECTime</span>
                <h3 class="entry-title"><a href="/UserVNKH/UserWenZhang/?ECid=@item.EssayCommunID">@item.ECTitle</a></h3>
                <span class="entry-author">点击数:&nbsp;</span><a class="entry-author">@item.ECClick</a>
                <span class="entry-author">评论数:&nbsp;</span><a class="entry-author">@item.EssayCommunComment.Count()</a>
            </div>
        </article>
        }

</div>

