
@{
    ViewBag.Title = "UserWenZhang";
    Layout = "~/Views/Shared/_LayoutWenZhang.cshtml";
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/HelpSSS/百度富文本/utf8-asp/ueditor.config.js"></script>
    <script src="~/HelpSSS/百度富文本/utf8-asp/ueditor.all.min.js"></script>
    <style type="text/css">
        * {
            text-decoration: none;
        }

        .fanhui, .bianji {
            margin-left: 1em;
        }

        h1, #contentText {
            color: black;
        }

        .news_quan {
            width: auto;
            margin: 0 auto;
        }

        .news_zhong {
            color: darkgray;
            margin: 1em;
        }

        .new_time {
            float: left;
        }

        .new_ziti {
            margin-left: 100px;
            float: left;
        }

        .new_yuan {
            margin-left: 100px;
            float: left;
        }

        .dibu {
            text-align: right;
            margin-right: 1em;
        }

        .writer_tu {
            overflow: hidden;
            margin: 1em;
        }

        .writer_tu_image {
            background-color: #FF0000;
            width: 50px;
            height: 50px;
            overflow: hidden;
            float: left;
        }

            .writer_tu_image img {
                height: 50px;
                margin: 0 calc(50% - 25px);
                border: 1px solid darkgray;
            }

        .writer_tu_man {
            margin-left: 55px;
            font-size: 12px;
        }

        .writer_tu_manname {
            color: black;
        }

        .writer_tu_manPPP {
            margin-top: 10px;
            color: slategrey
        }



        #xian {
            border-top: 1px dashed darkgray;
        }

        #Textar {
            margin-left: 80px;
            margin-bottom: 10px;
        }

        #Textar_2 {
            margin-left: 60px;
            margin-bottom: 10px;
        }

        #Textar_3 {
            margin: 10px;
        }

        .touxiang {
            margin-left: 20px;
        }

        .pinglun {
            width: 80px;
            height: 30px;
            float: left;
            margin-right: 1em;
        }

        .weizhi {
            margin-left: 300px;
            overflow: hidden;
        }

            .weizhi a {
                text-decoration: none;
            }

        .qianming {
            width: 800px;
            height: 20px;
            color: lightsteelblue;
        }

        .neirong {
            margin-top: 1em;
            margin-bottom: 1em;
            overflow: hidden;
            width: 720px;
            height: auto;
        }

        #collapseExample {
            margin-top: 50px;
        }

        .huifuwen {
            margin-top: 1em;
            margin-left: 45em;
        }

        .neiqian {
            background-color: oldlace;
            border-radius: 10px;
            border: 1px solid black;
            overflow: hidden;
            width: 700px;
            height: auto;
        }

        .neiqian_pinglun {
            width: 80px;
            height: 30px;
            float: left;
            margin-right: 1em;
        }

        .pinglun_time {
            width: 160px;
            float: left;
            color: darkgrey;
            margin-right: 1em;
        }

        .neiqian_fu {
            overflow: hidden;
        }

        .dong {
            margin-left: 21em;
        }
    </style>
    <script type=text/javascript>
        function $(xixi) {
            return document.getElementById(xixi);
        }
        //转换字号
        function doZoom(size) {
            if (size == 12) {
                $("contentText").style.fontSize = size + "px";
                $("fs12").style.display = "";
                $("fs14").style.display = "none";
                $("fs16").style.display = "none";
            }
            if (size == 18) {
                $("contentText").style.fontSize = size + "px";
                $("fs12").style.display = "none";
                $("fs14").style.display = "";
                $("fs16").style.display = "none";
            }
            if (size == 24) {
                $("contentText").style.fontSize = size + "px";
                $("fs12").style.display = "none";
                $("fs14").style.display = "none";
                $("fs16").style.display = "";
            }
        }
    </script>
}
@using ViewNews.Models
@{
    EssayCommun EComm = ViewBag.EssComms;
    List<EssayCommunComment> EComComm = ViewBag.EssCommComm;
    NewsUser user = Session["userLogin"] as NewsUser;
    int ha = 0;
}

<div class="news_quan">
    <h1>@EComm.ECTitle</h1>
    <div class="writer_tu">
        <a href="/UserVNKH/UserXiangxiKeHu/?UserID=@EComm.NewsUserID">
            <div class="writer_tu_image">
                <img src="~/Content/imageKeHu/User/@EComm.NewsUser.NewsUserImage">
            </div>
            <div class="writer_tu_man">
                <div class="writer_tu_manname">@EComm.NewsUser.NewsUserName</div>
                <div class="writer_tu_manPPP">@EComm.NewsUser.NewsUserMotto</div>
            </div>
        </a>
    </div>
    <div class="news_zhong">
        <div class="new_time"> @EComm.ECTime </div>
        <div class="new_ziti">
            <DIV class=fontSize id=fs12 style="DISPLAY: none">
                <A href="javascript:doZoom(24)">大</A> <A href="javascript:doZoom(18)">中</A> <SPAN>小</SPAN>
            </DIV>
            <DIV class=fontSize id=fs14>
                <A href="javascript:doZoom(24)">大</A> <SPAN>中</SPAN> <A href="javascript:doZoom(12)">小</A>
            </DIV>
            <DIV class=fontSize id=fs16 style="DISPLAY: none">
                <SPAN>大</SPAN> <A href="javascript:doZoom(18)">中</A> <A href="javascript:doZoom(12)">小</A>
            </DIV>
        </div>
    </div>

    <br /><br />

    <DIV id=contentText>

        @Html.Raw(EComm.ECContent)

    </DIV>
    <div>
        <br />
        <h4>
            &nbsp;&nbsp;文章内容纯属用户个人观点，不代表平台观点
        </h4>
    </div>
    <div class="dibu">
        <div>
            点击数：@EComm.ECClick
        </div>
        <div>
            评论数：@EComm.EssayCommunComment.Count()
        </div>
    </div>
</div>
<div id="xian"></div>
<div>
    <h5>我要评论</h5>
    <div class="writer_tu_image touxiang">
        <img src="~/Content/imageKeHu/UI/2.jpg" />
    </div>
    <div id="Textar">
        @if (user == null)
        {
            <textarea name="ECCContent" id="ECCContent" rows="5">这里要改成富文本的</textarea>
            <a href="/LoginVNKH/LoginUser" class="btn btn-primary huifuwen" onclick="return confirm('只有登录后才能回复')">回复</a>
        }
        else
        {
            <form action="/UserVNKH/ECCAdd" method="post">
                <textarea name="ECCContent" id="ECCContent" rows="5"></textarea>
                <input type="hidden" name="EssayCommunID" id="EssayCommunID" value="@EComm.EssayCommunID" />
                <input type="hidden" name="NewsUserID" id="NewsUserID" value="@user.NewsUserID" />
                <input type="hidden" name="ECCTime" id="ECCTime" />
                <input type="hidden" name="ECCLike" id="ECCLike" value="0" />
                <input type="hidden" name="ECCReport" id="ECCReport" value="0" />
                <input type="submit" class="btn btn-primary huifuwen" value="回复" />
            </form>
        }
    </div>
</div>
<div id="xian"></div>
@if (user == null)
{
    foreach (var item in EComComm)
    {
        <article class="entry-item box-hover clearfix" id="zaila_@item.EssayCommunCommentID">
            <a href="/UserVNKH/UserXiangxiKeHu/?UserID=@item.NewsUserID">
                <div class="writer_tu_image">
                    <img src="~/Content/imageKeHu/User/@item.NewsUser.NewsUserImage" />
                </div>
            </a>
            <div id="Textar_2">
                <div>@item.NewsUser.NewsUserName</div>
                <div class="qianming">@item.NewsUser.NewsUserMotto</div>
                <div class="neirong">
                    @Html.Raw(item.ECCContent)
                    @if (item.ECCCID != null)
                    {
                        <div class="neiqian" id="zaila_@item.EssayCommunComment2.EssayCommunCommentID">
                            <div id="Textar_3">
                                <a href="/UserVNKH/UserXiangxiKeHu/?UserID=@item.EssayCommunComment2.NewsUserID">
                                    <div>@item.EssayCommunComment2.NewsUser.NewsUserName</div>
                                </a>
                                <div class="neirong">@Html.Raw(item.EssayCommunComment2.ECCContent)</div>
                                <div class="neiqian_fu">
                                    <div class="pinglun_time">@item.EssayCommunComment2.ECCTime</div>
                                    <div class="neiqian_fu dong">
                                        <div class="neiqian_pinglun">
                                            <a href="/UserVNKH/LookHuiFu/?ECCCID=@item.EssayCommunComment2.EssayCommunCommentID" target="_blank">查看回复</a>
                                        </div>
                                        <div class="neiqian_pinglun">
                                            <a href="/LoginVNKH/LoginUser" onclick="return confirm('只有登录后才能点赞哦')">点赞 @item.EssayCommunComment2.ECCLike</a>
                                        </div>
                                        <div class="neiqian_pinglun">
                                            <a href="/LoginVNKH/LoginUser" onclick="return confirm('只有登录后才能回复哦')">回复</a>
                                        </div>
                                        <div class="neiqian_pinglun">
                                            <a href="/LoginVNKH/LoginUser" onclick="return confirm('只有登录后才能举报哦')">举报</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="caozuo">
                    <div class="pinglun_time">@item.ECCTime</div>
                    <div class="weizhi">
                        <div class="pinglun">
                            @if (item.EssayCommunComment1.Where(a => a.ECCCID == item.EssayCommunCommentID).Count() != 0)
                            {
                                <a href="/UserVNKH/LookHuiFu/?ECCCID=@item.EssayCommunCommentID" target="_blank">查看回复</a>
                            }
                        </div>
                        <div class="pinglun">
                            <a href="/LoginVNKH/LoginUser" onclick="return confirm('只有登录后才能点赞哦')">点赞 @item.ECCLike</a>
                        </div>
                        <div class="pinglun">
                            <a href="/LoginVNKH/LoginUser" onclick="return confirm('只有登录后才能回复哦')">回复</a>
                        </div>
                        <div class="pinglun"><a href="/LoginVNKH/LoginUser" onclick="return confirm('只有登录后才能举报哦')">举报</a></div>
                    </div>
                </div>
            </div>
        </article>
    }
}
else
{
    foreach (var item in EComComm)
    {
        ha++;
<article class="entry-item box-hover clearfix" id="zaila_@item.EssayCommunCommentID">
    <a href="/UserVNKH/UserXiangxiKeHu/?UserID=@item.NewsUserID">
        <div class="writer_tu_image">
            <img src="~/Content/imageKeHu/User/@item.NewsUser.NewsUserImage" />
        </div>
    </a>
    <div id="Textar_2">
        <div>@item.NewsUser.NewsUserName</div>
        <div class="qianming">@item.NewsUser.NewsUserMotto</div>
        <div class="neirong">
            @Html.Raw(item.ECCContent)
            @if (item.ECCCID != null)
            {
                ha++;
                <div class="neiqian" id="zaila_@item.EssayCommunComment2.EssayCommunCommentID">
                    <div id="Textar_3">
                        <a href="/UserVNKH/UserXiangxiKeHu/?UserID=@item.EssayCommunComment2.NewsUserID">
                            <div>@item.EssayCommunComment2.NewsUser.NewsUserName</div>
                        </a>
                        <div class="neirong">@Html.Raw(item.EssayCommunComment2.ECCContent)</div>
                        <div class="neiqian_fu">
                            <div class="pinglun_time">@item.EssayCommunComment2.ECCTime</div>
                            <div class="neiqian_fu dong">
                                <div class="neiqian_pinglun">
                                    <a href="/UserVNKH/LookHuiFu/?ECCCID=@item.EssayCommunComment2.EssayCommunCommentID" target="_blank">查看回复</a>
                                </div>
                                <div class="neiqian_pinglun">
                                    <a href="/UserVNKH/ECCLike/?ECCID=@item.EssayCommunComment2.EssayCommunCommentID&ECCren=@user.NewsUserID#zaila_@item.EssayCommunComment2.EssayCommunCommentID">点赞 @item.EssayCommunComment2.ECCLike</a>
                                </div>
                                <div class="neiqian_pinglun">
                                    <a role="button" data-toggle="collapse" href="#collapseExampleLimian_@item.EssayCommunCommentID" aria-expanded="false" aria-controls="collapseExample">回复</a>
                                </div>
                                <div class="neiqian_pinglun">
                                    <a href="/UserVNKH/ECCReport/?ECCID=@item.EssayCommunComment2.EssayCommunCommentID&ECCren=@user.NewsUserID#zaila_@item.EssayCommunComment2.EssayCommunCommentID">举报</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseExampleLimian_@item.EssayCommunCommentID">
                        <div class="well">
                            <form action="/UserVNKH/ECCC_Add" method="post">
                                <textarea name="ECCContent" id="ECCContent_@ha" rows="5"></textarea>
                                <input type="hidden" name="EssayCommunID" id="EssayCommunID" value="@EComm.EssayCommunID" />
                                <input type="hidden" name="NewsUserID" id="NewsUserID" value="@user.NewsUserID" />
                                <input type="hidden" name="ECCTime" id="ECCTime" />
                                <input type="hidden" name="ECCLike" id="ECCLike" value="0" />
                                <input type="hidden" name="ECCReport" id="ECCReport" value="0" />
                                <input type="hidden" name="ECCCID" id="ECCCID" value="@item.EssayCommunCommentID" />
                                <input type="submit" class="btn btn-primary huifuwen" value="回复" />
                            </form>
                            <script type="text/javascript">
                                        var ue = UE.getEditor('ECCContent_@ha');
                            </script>
                        </div>
                    </div>
                </div>
            }
        </div>
        @{
            ha++;
        }
        <div class="caozuo">
            <div class="pinglun_time">@item.ECCTime</div>
            <div class="weizhi">
                <div class="pinglun">
                    @if (item.EssayCommunComment1.Where(a => a.ECCCID == item.EssayCommunCommentID).Count() != 0)
                    {
                        <a href="/UserVNKH/LookHuiFu/?ECCCID=@item.EssayCommunCommentID" target="_blank">查看回复</a>
                    }
                </div>
                <div class="pinglun">
                    <a href="/UserVNKH/ECCLike/?ECCID=@item.EssayCommunCommentID&ECCren=@user.NewsUserID#zaila_@item.EssayCommunCommentID">点赞 @item.ECCLike</a>
                </div>
                <div class="pinglun">
                    <a role="button" data-toggle="collapse" href="#collapseExample_@item.EssayCommunCommentID" aria-expanded="false" aria-controls="collapseExample">回复</a>
                </div>
                <div class="pinglun"><a href="/UserVNKH/ECCReport/?ECCID=@item.EssayCommunCommentID&ECCren=@user.NewsUserID#zaila_@item.EssayCommunCommentID">举报</a></div>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseExample_@item.EssayCommunCommentID">
        <div class="well">
            <form action="/UserVNKH/ECCC_Add" method="post">
                <textarea name="ECCContent" id="ECCContent_@ha" rows="5"></textarea>
                <input type="hidden" name="EssayCommunID" id="EssayCommunID" value="@EComm.EssayCommunID" />
                <input type="hidden" name="NewsUserID" id="NewsUserID" value="@user.NewsUserID" />
                <input type="hidden" name="ECCTime" id="ECCTime" />
                <input type="hidden" name="ECCLike" id="ECCLike" value="0" />
                <input type="hidden" name="ECCReport" id="ECCReport" value="0" />
                <input type="hidden" name="ECCCID" id="ECCCID" value="@item.EssayCommunCommentID" />
                <input type="submit" class="btn btn-primary huifuwen" value="回复" />
            </form>
            <script type="text/javascript">
                                        var ue = UE.getEditor('ECCContent_@ha');
            </script>
        </div>
    </div>
</article>
                }

            }
<script type="text/javascript">
    var ue = UE.getEditor('ECCContent');
</script>





