
@{
    ViewBag.Title = "LookHuiFu";
    Layout = "~/Views/Shared/_LayoutWenZhang.cshtml";
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style type="text/css">

        h2 {
            margin-top: 10px;
            text-align: center;
        }

        .writer_tu {
            overflow: hidden;
            margin: 1em;
        }

        .writer_tu_image {
            background-color: #FF0000;
            width: 50px;
            height: 50px;
            overflow: hidden;
            float: left;
        }

            .writer_tu_image img {
                height: 50px;
                margin: 0 calc(50% - 25px);
                border: 1px solid darkgray;
            }


        #xian {
            border-top: 1px dashed darkgray;
        }

        #Textar {
            margin-left: 80px;
            margin-bottom: 10px;
        }

        #Textar_2 {
            margin-left: 60px;
            margin-bottom: 10px;
        }

        #Textar_3 {
            margin: 10px;
        }

        .touxiang {
            margin-left: 20px;
        }

        .pinglun {
            width: 80px;
            height: 30px;
            float: left;
            margin-right: 1em;
        }

        .weizhi {
            margin-left: 300px;
            overflow: hidden;
        }

            .weizhi a {
                text-decoration: none;
            }

        .qianming {
            width: 800px;
            height: 20px;
            margin-top: 10px;
            color: lightsteelblue;
        }

        .neirong {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        #collapseExample {
            margin-top: 50px;
        }

        .huifuwen {
            margin-top: 1em;
            margin-left: 45em;
        }

        .neiqian {
            margin-bottom: 60px;
            height: auto;
        }

        .neiqian_pinglun {
            width: 80px;
            height: 30px;
            float: left;
            margin-right: 1em;
        }

        .pinglun_time {
            width: 160px;
            float: left;
            color: darkgrey;
            margin-right: 1em;
        }

        .neiqian_fu {
            overflow: hidden;
        }

        .dong {
            margin-left: 26em;
        }
    </style>
}
@using ViewNews.Models
@{
    WriterCommun EComm = ViewBag.wenzhang;
    WriterCommunComment esscommcomm = ViewBag.zhupinglun;
    List<WriterCommunComment> EComComm = ViewBag.pinglun;
    NewsUser user = Session["userLogin"] as NewsUser;
}


<div id="quan">

</div>
<h2>@EComm.WCTitle</h2>


@if (user == null)
{
    <div id="xian"></div>
    <div class="neiqian">
        <a href="/UserVNKH/UserXiangxiKeHu/?UserID=@esscommcomm.NewsUserID">
            <div class="writer_tu_image">
                <img src="~/Content/imageKeHu/User/@esscommcomm.NewsUser.NewsUserImage" />
            </div>
        </a>
        <div id="Textar_3">
            <div>@esscommcomm.NewsUser.NewsUserName</div>
            <div class="qianming">@esscommcomm.NewsUser.NewsUserMotto</div>
            <div class="neirong">@esscommcomm.WCCContent</div>
            <div class="neiqian_fu">
                <div class="pinglun_time">@esscommcomm.WCCTime</div>
                <div class="neiqian_fu dong">
                    <div class="neiqian_pinglun"></div>
                    <div class="neiqian_pinglun"><a href="/LoginVNKH/LoginUser" onclick="return confirm('只有登录后才能点赞哦')">点赞 @esscommcomm.WCCLike</a></div>
                    <div class="neiqian_pinglun">
                        <a href="/LoginVNKH/LoginUser" onclick="return confirm('只有登录后才能回复哦')">回复</a>
                    </div>
                    <div class="neiqian_pinglun"><a href="/LoginVNKH/LoginUser" onclick="return confirm('只有登录后才能举报哦')">举报</a></div>
                </div>
            </div>
        </div>
    </div>
    <div>评论数：@EComComm.Count()</div>
    <div id="xian"></div>

    foreach (var item in EComComm)
    {
        <article class="entry-item box-hover clearfix">
            <a href="/UserVNKH/UserXiangxiKeHu/?UserID=@item.NewsUserID">
                <div class="writer_tu_image">
                    <img src="~/Content/imageKeHu/User/@item.NewsUser.NewsUserImage" />
                </div>
            </a>
            <div id="Textar_2">
                <div>@item.NewsUser.NewsUserName</div>
                <div class="qianming">@item.NewsUser.NewsUserMotto</div>
                <div class="neirong">
                    @item.WCCContent
                </div>
                <div class="caozuo">
                    <div class="pinglun_time">@item.WCCTime</div>
                    <div class="weizhi">
                        <div class="pinglun">
                            @if (item.WriterCommunComment1.Where(a => a.WCCID == item.WriterCommunCommentID).Count() != 0)
                            {
                                <a href="/WriterVNKH/LookHuiFu/?ECCCID=@item.WriterCommunCommentID" target="_blank">查看回复</a>
                            }
                        </div>
                        <div class="pinglun"><a href="/LoginVNKH/LoginUser" onclick="return confirm('只有登录后才能点赞哦')">点赞 @item.WCCLike</a></div>
                        <div class="pinglun">
                            <a href="/LoginVNKH/LoginUser" onclick="return confirm('只有登录后才能回复哦')">回复</a>
                        </div>
                        <div class="pinglun"><a href="/LoginVNKH/LoginUser" onclick="return confirm('只有登录后才能举报哦')">举报</a></div>
                    </div>
                </div>
            </div>
        </article>
    }
}
else
{
    <div id="xian"></div>
    <div class="neiqian" id="zaila_@esscommcomm.WriterCommunCommentID">
        <a href="#">
            <div class="writer_tu_image">
                <img src="~/Content/imageKeHu/User/@esscommcomm.NewsUser.NewsUserImage" />
            </div>
        </a>
        <div id="Textar_3">
            <div>@esscommcomm.NewsUser.NewsUserName</div>
            <div class="qianming">@esscommcomm.NewsUser.NewsUserMotto</div>
            <div class="neirong">@esscommcomm.WCCContent</div>
            <div class="neiqian_fu">
                <div class="pinglun_time">@esscommcomm.WCCTime</div>
                <div class="neiqian_fu dong">
                    <div class="neiqian_pinglun"></div>
                    <div class="neiqian_pinglun"><a href="/WriterVNKH/ECCLike/?ECCID=@esscommcomm.WriterCommunCommentID&ECCren=@user.NewsUserID#zaila_@esscommcomm.WriterCommunCommentID">点赞 @esscommcomm.WCCLike</a></div>
                    <div class="neiqian_pinglun">
                        <a role="button" data-toggle="collapse" href="#collapseExampleLimian_@esscommcomm.WriterCommunCommentID" aria-expanded="false" aria-controls="collapseExample">回复</a>
                    </div>
                    <div class="neiqian_pinglun"><a href="/WriterVNKH/ECCReport/?ECCID=@esscommcomm.WriterCommunCommentID&ECCren=@user.NewsUserID#zaila_@esscommcomm.WriterCommunCommentID">举报</a></div>
                </div>
            </div>
        </div>
        <div class="collapse" id="collapseExampleLimian_@esscommcomm.WriterCommunCommentID">
            <div class="well">
                <form action="/WriterVNKH/ECCC_Add" method="post">
                    <textarea class="form-control" name="WCCContent" id="WCCContent" rows="5">这里要改成富文本的</textarea>
                    <input type="hidden" name="WriterCommunID" id="WriterCommunID" value="@EComm.WriterCommunID" />
                    <input type="hidden" name="NewsUserID" id="NewsUserID" value="@user.NewsUserID" />
                    <input type="hidden" name="WCCTime" id="WCCTime" />
                    <input type="hidden" name="WCCLike" id="WCCLike" value="0" />
                    <input type="hidden" name="WCCReport" id="WCCReport" value="0" />
                    <input type="hidden" name="WCCID" id="WCCID" value="@esscommcomm.WriterCommunCommentID" />
                    <input type="submit" class="btn btn-primary huifuwen" value="回复" />
                </form>
            </div>
        </div>
    </div>
    <div>评论数：@EComComm.Count()</div>
    <div id="xian"></div>

    foreach (var item in EComComm)
    {
        <article class="entry-item box-hover clearfix" id="zaila_@item.WriterCommunCommentID">
            <a href="#">
                <div class="writer_tu_image">
                    <img src="~/Content/imageKeHu/User/@item.NewsUser.NewsUserImage" />
                </div>
            </a>
            <div id="Textar_2">
                <div>@item.NewsUser.NewsUserName</div>
                <div class="qianming">@item.NewsUser.NewsUserMotto</div>
                <div class="neirong">
                    @item.WCCContent
                </div>
                <div class="caozuo">
                    <div class="pinglun_time">@item.WCCTime</div>
                    <div class="weizhi">
                        <div class="pinglun">
                            @if (item.WriterCommunComment1.Where(a => a.WCCID == item.WriterCommunCommentID).Count() != 0)
                            {
                                <a href="/WriterVNKH/LookHuiFu/?ECCCID=@item.WriterCommunCommentID" target="_blank">查看回复</a>
                            }
                        </div>
                        <div class="pinglun"><a href="/WriterVNKH/ECCLike/?ECCID=@item.WriterCommunCommentID&ECCren=@user.NewsUserID#zaila_@item.WriterCommunCommentID">点赞 @item.WCCLike</a></div>
                        <div class="pinglun">
                            <a role="button" data-toggle="collapse" href="#collapseExample_@item.WriterCommunCommentID" aria-expanded="false" aria-controls="collapseExample">回复</a>
                        </div>
                        <div class="pinglun"><a href="/WriterVNKH/ECCReport/?ECCID=@item.WriterCommunCommentID&ECCren=@user.NewsUserID#zaila_@item.WriterCommunCommentID">举报</a></div>
                    </div>
                </div>
            </div>
            <div class="collapse" id="collapseExample_@item.WriterCommunCommentID">
                <div class="well">
                    <form action="/WriterVNKH/ECCC_Add" method="post">
                        <textarea class="form-control" name="WCCContent" id="WCCContent" rows="5">这里要改成富文本的</textarea>
                        <input type="hidden" name="WriterCommunID" id="WriterCommunID" value="@EComm.WriterCommunID" />
                        <input type="hidden" name="NewsUserID" id="NewsUserID" value="@user.NewsUserID" />
                        <input type="hidden" name="WCCTime" id="WCCTime" />
                        <input type="hidden" name="WCCLike" id="WCCLike" value="0" />
                        <input type="hidden" name="WCCReport" id="WCCReport" value="0" />
                        <input type="hidden" name="WCCID" id="WCCID" value="@item.WriterCommunCommentID" />
                        <input type="submit" class="btn btn-primary huifuwen" value="回复" />
                    </form>
                </div>
            </div>
        </article>
    }

}
